.footer{
    margin-top: 30px;
    .footer_top{width:100%; height:330px; background: rgb(29,29,29);}
    .footer_bottom{width:100%; height: 30px; background:rgb(13,13,13);}
    .footer_top h4{margin-top:20px; font-size:16px; text-shadow:5px 4px 2px #000; 
        padding-bottom: 15px; font-weight: normal;}
    .footer_box_1{width:220px; height:330px;}
    .footer_box_1 a{color:rgb(185,185,185); padding-left:10px; display:block; text-align: left; line-height:24px;}
    .footer_box_1 h4{padding-left:10px!important; }
    .footer_box_2{width:500px; height:330px;}
    .footer_box_3{width:280px; height:330px;}
    .talker_img img{width:70px; height:70px; float:left; margin-right:5px;}
    .talk{margin-bottom: 10px;}
    .talk dd{width:350px; white-space:nowrap; 
        text-overflow:ellipsis; overflow:hidden; line-height: 24px;}

    .photo_show{width:280px; height:220px;}
    .photo_box{width:70px; height: 70px; position: relative; float:left;margin:0px 15px 15px 0px;}
    .photo_mask{width:70px; height: 70px; position: absolute; top:0px; left:0px; background:rgba(0,0,0,0);
    transition:0.5s;}
    .photo_box img{width:100%; }

    .footer_bottom p{line-height:30px;}
}
