.head{
    background: rgb(34,34,34); width:100%; height:70px; border-bottom:rgb(70,70,71) solid 1px;
    box-shadow: 0 0 1px #000; margin-top:50px;
    a{padding:16px 30px 16px 30px; display: inline-block; backgroud:rgb(23,23,23); 
        color:#fff;  font-size:14px; margin:11px 10px 0px 0px; text-align: center;}
    a:hover{background: rgb(23,23,23); border-radius: 6px; border-bottom:rgb(70,70,71) solid 1px;} 
}



